container_commands:
  01installmysql80:
    command: "sudo yum install https://dev.mysql.com/get/mysql80-community-release-el9-5.noarch.rpm -y"
  02installmysql80:
    command: "sudo yum install mysql-community-server -y"
  03startmysqld:
    command: "sudo systemctl start mysqld"
  04checkstatus:
    command: "sudo systemctl status mysqld"